$person-box-width: 160px;
$person-box-height: 120px;
$person-box-padding: 4px;
$person-container-padding: 24px;
$person-container-width: $person-box-width + 2 * $person-container-padding;
$person-container-height: $person-box-height + 2 * $person-container-padding;
$node-button-size: 16px;
$person-button-distance: 4px;
