@import "./defs.scss";
@import "./buttons.scss";

@font-face {
  font-family: "RobotoCondensedEmbedded";
  src:
    url('../fonts/roboto-condensed-v19-regular.woff2') format('woff2'),
    url('../fonts/roboto-condensed-v19-regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: "RobotoCondensedEmbedded";
  src:
    url('../fonts/roboto-condensed-v19-700.woff2') format('woff2'),
    url('../fonts/roboto-condensed-v19-700.woff') format('woff');
  font-weight: 700;
}

body {
  padding: 0;
  margin: 0;
  font-family: "RobotoCondensedEmbedded", "Roboto Condensed", sans-serif;
}

.composer-container {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #AAAAAA;
}

.composer-anchor {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: 2px solid #FF00FF;
  scale: 1.0;
}

.person-container {
  position: absolute;
  display: inline-block;
  z-index: 3;
  width: $person-container-width;
  height: $person-container-height;
}

.person-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: $person-container-padding;
  top: $person-container-padding;
  width: $person-box-width - 2 * $person-box-padding;
  height: $person-box-height - 2 * $person-box-padding;
  padding: $person-box-padding;
  overflow: visible;
  text-align: center;
}

.person-image {
  width: $person-image-size;
  height: $person-image-size;
  align-self: center;
  border-radius: 50%;
  box-shadow: 0 0 16px -4px black;
}

.person-text {
  height: $person-text-height;
  overflow: visible;
  align-self: center;
  text-align: center;
  font-size: $person-text-font-size;
  white-space: nowrap;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 100% * $person-text-line-height;
  text-shadow: 0 0 4px black;
}

.person-container:hover .node-button {
  visibility: visible;
}

.horizontal-link {
  position: absolute;
  display: inline-block;
  z-index: 2;
  height: 0.5 * $person-box-height + $horizontal-link-height + $link-margin;
  margin: 0;
  padding: 0;
  //background-color: rgba(0,0,0,0.2);
}

.vertical-link {
  position: absolute;
  display: inline-block;
  z-index: 1;
  height: $vertical-link-height + 0.5 * $person-box-height;
  margin: 0;
  padding: 0;
  //background-color: rgba(0,0,0,0.2);
}

.horizontal-link:hover .node-button {
  visibility: visible;
}
