$person-box-width: 160px;
$person-box-height: 120px;
$person-box-padding: 4px;
$person-container-padding: 24px;
$person-container-width: $person-box-width + 2 * $person-container-padding;
$person-container-height: $person-box-height + 2 * $person-container-padding;
$node-button-size: 16px;
$person-button-distance: 4px;

body {
  padding: 0px;
  margin: 4px;
  background-color: #AAAAAA;
}

.composer-box {
  border: 1px solid #000000;
}

.person-container {
  position: absolute;
  display: inline-block;
  left: 120px;
  top: 120px;
  width: $person-container-width;
  height: $person-container-height;
  background-color: rgba(0,0,0,0.1);
}

.person-box {
  position: absolute;
  display: inline-block;
  left: $person-container-padding;
  top: $person-container-padding;
  width: $person-box-width - 2 * $person-box-padding;
  height: $person-box-height - 2 * $person-box-padding;
  padding: $person-box-padding;
  overflow: clip;
  background-color: #FFFFFF;
}

.node-button {
  position: absolute;
  display: inline-block;
  width: $node-button-size;
  height: $node-button-size;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  text-align: center;
  line-height: $node-button-size;
  font-size: $node-button-size;
  border-radius: $node-button-size;
  cursor: pointer;
  visibility: hidden;
}
.person-container:hover .node-button {
  visibility: visible;
}
.node-button-hidden {
  display: none;
}

.person-expand-top {
  left: $person-container-width / 2 - $node-button-size - $person-button-distance / 2;
  top: ($person-container-padding - $node-button-size) / 2;
}
.person-collapse-top {
  left: $person-container-width / 2 + $person-button-distance / 2;
  top: ($person-container-padding - $node-button-size) / 2;
}
.person-expand-side {
  left: $person-container-width - ($person-container-padding + $node-button-size) / 2;
  top: $person-container-height / 2 - $node-button-size - $person-button-distance / 2;
}
.person-collapse-side {
  left: $person-container-width - ($person-container-padding + $node-button-size) / 2;
  top: $person-container-height / 2 + $person-button-distance / 2;
}
.person-expand-bottom {
  left: $person-container-width / 2 - $node-button-size / 2;
  top: $person-container-height - ($person-container-padding + $node-button-size) / 2;
}

.horizontal-link {
  //position: absolute;
  display: inline-block;
}

.vertical-link {
  //position: absolute;
  display: inline-block;
}
